:root {
--bg: #e2f0f7;
--light: #FAFAFA;
--dark:#474F55;
--peach: #FDDBD8;
--blue:#97B7FF;
--border: 1px solid #2B343B;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  line-height: 1.5em;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1em;
  background-color: var(--light);
  font-family: 'Poppins', sans-serif;
  color: var(--dark);
}

h2 {
  font-size: 1em;
  font-weight: normal;
}

h3 {
  margin: 0 20px;
  font-size: .9em;
  font-weight: normal;
}

button {
  font-size: 16px;
}

header {
  width: 100%;
  height: 100px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100%;
  height: auto;
  margin: 20px auto;
  display: flex;
  justify-content: space-evenly;
}

main {
  max-width: 415px;
}

aside {
  max-width: 600px;
}

/* containers */

.flex-list {
  padding: 0;
  display: flex;
}

.flex-list li {
  list-style: none;
}

.avatar-container {
  width: 409px;
  height: 445px;
  border: var(--border);
  border-radius: 20px;
  text-align: center;
  position: relative;
}

.avatar-head-container {
  width: 409px;
  height: 445px;
}

.avatar-container button{ 
  padding: 4px 8px;
  margin: 15px 5px;
  color: var(--dark);
}

.options-wrapper {
  max-width: 614px;
}

.options-container {
  margin-top: 10px;
  padding: 0 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: var(--bg);
}

.icons-container {
  display: grid;
  grid-template-columns: 90px 1fr;
  justify-items: start;
  align-items: center;
  border-bottom: 2px solid #C3CFD6;
}
.icons-container:last-child {
  border-bottom:none;
}

.colors-container {
  margin-top: 10px;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid var(--bg);
}

/* options- images  */
.hide {
  opacity: 0;
}

.reset-img{
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.face {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.hair {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.eyes {
  opacity: 0;
  position: absolute;
  top: 200px;
  left: 144px;
}

.nose {
  position: absolute;
  top: 212px;
  left: 150px;
}

.mouth {
  position: absolute;
  top: 267px;
  left: 146px;
}

.clothes {
  position: absolute;
  top: 0;
  left: 0;
}



/* options- btn  */

.option-icon {
  display: inline-block;
  width: 54px;
  height: 66px;
  margin: 10px;

  border-radius: 10px;
  border: 1px solid var(--bg);
  background-color:var(--bg);
  background-repeat: no-repeat;
  background-position: center;
}

.option-icon:hover {
  background-color: white;
  border: 1px solid #EFF4F7;
} 

button:focus {
  background-color: white;
  border: 1px solid #878787;
} 

.active {
  background-color: white;
  border: 1px solid #878787;
} 
.color-active {
  border: 1px solid #878787;
} 

.option-color {
  display: inline-block;
  width: 44px;
  height: 44px;
  margin: 10px 0;
  border: #aeaeae 1px solid;
  border-radius: 10px;
  background-color: white;
}

.option-color:hover, .option-color:active {
  border: #9b9b9b 2px solid;
}


/* face options  */

.round {
  background-image: url(img/icon-face-round.svg);
}

.square {
  background-image: url(img/icon-face-square.svg);
}

.triangle {
  background-image: url(img/icon-face-triangle.svg);
}

/* hair options  */

.icon-hair1 {
  background-image: url(img/icon-hair1.svg);
}
.icon-hair2 {
  background-image: url(img/icon-hair2.svg);
}
.icon-hair3 {
  background-image: url(img/icon-hair3.svg);
}
.icon-hair4 {
  background-image: url(img/icon-hair4.svg);
}

/* eyes options  */

.icon-eyes1 {
  background-image: url(img/icon-eyes1.svg);
}
.icon-eyes2 {
  background-image: url(img/icon-eyes2.svg);
}
.icon-eyes3 {
  background-image: url(img/icon-eyes3.svg);
}
.icon-eyes4 {
  background-image: url(img/icon-eyes4.svg);
}




/* color options  */
.color1 {
  background-color: #000000;
}
.color2 {
  background-color: #ffffff;
}
.color3 {
  background-color:#97B7FF;
}
.color4 {
  background-color:#a0d6e6;
}
.color5 {
  background-color:#F49BA8;
}
.color6 {
  background-color: #F7C374;
}
.color7 {
  background-color:#C3B8FC;
}
.color8 {
  background-color:#9BCC99;
}

